.profile_info {
    top: 20vh;
    text-align: center;
}

form {
    border: none;
    width: 40vw;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

input[type=submit], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}